/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300|Roboto+Slab:400,700|Slabo+13px);
/* COLOR PALETTE */
#home {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#home h1.welcome {
  position: relative;
  text-align: center;
  font-size: 4em;
  top: 30%;
}

@media only screen and (max-width: 960px) {
  #home h1.welcome {
    font-size: 2.5em;
  }
}

h1.welcome span.tagline {
  position: relative;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: .5em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: normal;
  color: #ddd;
  margin-left: -75px;
}

h1.welcome span.tag-change {
  position: relative;
  top: 0;
  display: inline-block;
  text-align: left;
  width: 60px;
  height: 19px;
}

h1.welcome span.tag-change a {
  position: absolute;
  top: 0;
  margin-top: -9px;
  padding: 0 5px;
  text-transform: uppercase;
  color: transparent;
  text-shadow: none;
  text-decoration: none;
  transition: .5s;
  -webkit-transition: .5s;
}

@media only screen and (max-width: 960px) {
  h1.welcome span.tag-change a {
    margin-top: 1px;
  }
}

#home h1.welcome span.tag-change a.active {
  top: 0;
}

/* colors */
h1.welcome span.tag-change a.active.purple {
  color: #39E897;
}

h1.welcome span.tag-change a.active.blue {
  color: #FF1D23;
}

h1.welcome span.tag-change a.active.green {
  color: #4FD4FF;
}

h1.welcome span.tag-change a.active.red {
  color: #ff6b6b;
}

/* Slide Vertical */
#home h1.welcome span.tag-change a.vs-out {
  top: 30px;
}

body.slide-vertical h1.welcome span.tag-change a {
  top: -20px;
}

/* Flip Horizontal */
body.flip-horizontal h1.welcome span.tag-change {
  perspective: 1000;
}

body.flip-horizontal h1.welcome span.tag-change a {
  transform: rotateY(180deg);
  transform-origin: 25% 0;
}

body.flip-horizontal #home h1.welcome span.tag-change a.active {
  transform: rotateY(0deg);
}

/* Flip Vertical */
body.flip-vertical h1.welcome span.tag-change {
  perspective: 1000;
}

body.flip-vertical h1.welcome span.tag-change a {
  transform: rotateX(180deg);
}

body.flip-vertical #home h1.welcome span.tag-change a.active {
  transform: rotateX(0deg);
}

.parallax-container {
  position: relative;
  overflow: hidden;
  height: 400px;
}

@media only screen and (max-width: 767px) {
  .parallax-container {
    height: 200px;
  }
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax img {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transform: translateX(-50%);
}

.page {
  padding: 25px 0;
}

.page h2 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .page h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 25px;
  }
}

/*page*/
#featured {
  background: linear-gradient(to bottom, transparent, transparent), url("../images/splash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*valign*/
}

#featured .valign {
  position: absolute;
  top: 55%;
  background: rgba(0, 0, 0, 0.75);
  padding-bottom: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}

#featured h1 {
  color: #FF9800;
  font-family: "Slabo 13px", serif;
  text-shadow: 2px 3px 0px #AD6700;
}

#featured h2 {
  font-size: 2.3em;
  margin: 0;
}

/*splash*/
#bio {
  background: #1d2637;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1d2637 0%, #384969 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d2637), color-stop(100%, #384969));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1d2637 0%, #384969 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1d2637 0%, #384969 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1d2637 0%, #384969 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1d2637 0%, #384969 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

#bio h2 {
  color: #141b27;
  font-weight: 400;
  text-shadow: 0px 2px 0px #2f3e59;
}

#bio p {
  text-align: justify;
}

@media only screen and (max-width: 767px) {
  #bio p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  #bio p {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 992px) {
  #bio p {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1200px) {
  #bio p {
    font-size: 1.9em;
  }
}

#bio .row {
  padding: 25px;
}

#bio .horz {
  width: 100%;
  display: block;
  opacity: .25;
  border-bottom: 1px solid #a0b0cd;
  border-top: 2px solid #000;
  border-radius: 10px;
}

#bio .horz:before {
  content: "";
}

/*bio*/
#video {
  background: #262626;
  /* Old browsers */
  background: -moz-linear-gradient(top, #262626 0%, #000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #262626 0%, #000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #262626 0%, #000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #262626 0%, #000 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #262626 0%, #000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

#video h2 {
  color: #000;
  text-shadow: 0px 2px 0px #404040;
}

#video #video1 {
  position: relative;
  width: 85% !important;
  border: 10px solid #000;
}

#video #video1 .valign {
  position: absolute;
  top: 25%;
}

#testimonials {
  background: #fff;
  /*blockquote*/
}

#testimonials h2 {
  color: #FF9800;
  text-shadow: 0px 2px 0px #AD6700;
}

#testimonials blockquote {
  color: #000;
  font-size: 1.5em;
  border: none;
  margin: 0;
  /*quote*/
}

#testimonials blockquote p {
  font-size: 1em;
}

#testimonials blockquote .quote {
  position: relative;
  padding: 15px;
  margin: 1em 0 1em;
  border: 5px solid #4FD4FF;
  color: #333;
  background: #fff;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*before*/
  /*after*/
}

#testimonials blockquote .quote:before {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */
  left: 40px;
  /* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color: #4FD4FF transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

#testimonials blockquote .quote:after {
  content: "";
  position: absolute;
  bottom: -13px;
  /* value = - border-top-width - border-bottom-width */
  left: 47px;
  /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width: 13px 13px 0;
  border-style: solid;
  border-color: #fff transparent;
  /* reduce the damage in FF3.0 */
  display: block;
  width: 0;
}

#testimonials blockquote .client {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

#song-list {
  background: #40557a;
  /* Old browsers */
  background: -moz-linear-gradient(top, #40557a 0%, #141b27 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #40557a), color-stop(100%, #141b27));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #40557a 0%, #141b27 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #40557a 0%, #141b27 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #40557a 0%, #141b27 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #40557a 0%, #141b27 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

#song-list h2 {
  color: #fff;
}

#contact {
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #262626 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #262626));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #262626 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #262626 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #262626 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000 0%, #262626 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

#contact h2 {
  color: #FF9800;
}

body {
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: 300;
  background: #263248;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-size: 3em;
  color: #a6b3ff;
}

p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* NAVBAR */
header {
  /*navbar*/
  /*.navbar-default*/
}

header .navbar {
  padding: 10px;
  transition: all 0.75s linear;
  transition-delay: 0s;
}

@media only screen and (min-width: 768px) {
  header .navbar {
    padding-top: 45px;
  }
}

header .navbar-default {
  background: transparent;
  border: none;
  /*navbar-nav a*/
  /*navbar-nav active*/
}

@media only screen and (max-width: 768px) {
  header .navbar-default {
    background: rgba(0, 0, 0, 0.5);
  }
}

header .navbar-default .navbar-nav a {
  color: white;
  font-size: 1.5em;
}

header .navbar-default .navbar-nav a:hover {
  color: #FF9800;
}

header .navbar-default .navbar-nav a:focus {
  color: #fff;
}

@media only screen and (max-width: 992px) {
  header .navbar-default .navbar-nav a {
    font-size: 1.2em;
  }
}

header .navbar-default .navbar-nav .active a {
  color: #FF9800;
  background: transparent;
  border-bottom: 4px solid #FF9800;
  text-shadow: none;
  /*hover*/
  /*focus*/
}

header .navbar-default .navbar-nav .active a:hover {
  color: #FF9800;
  background: transparent;
  text-shadow: none;
}

header .navbar-default .navbar-nav .active a:focus {
  color: #FF9800;
  background: transparent;
  text-shadow: none;
}

/*header*/
/* NAVBAR BRAND */
header .navbar-brand {
  /*span.subhead*/
}

header .navbar-brand h1 {
  transition: all 0.5s ease-in-out;
  font-family: "Slabo 13px", serif;
  color: #FF9800;
  font-size: 1.5em;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.75s, opacity 0.75s linear;
  text-shadow: 1px 1px 0px #AD6700;
}

@media only screen and (max-width: 992px) {
  header .navbar-brand h1 {
    font-size: 1.2em;
  }
}

header .navbar-brand span.subhead {
  /*@media*/
}

@media screen and (max-width: 992px) {
  header .navbar-brand span.subhead {
    display: none;
  }
}

/*navbar-brand*/
/* NAVBAR TOGGLE */
header {
  /*navbar-toggle*/
}

header .navbar-toggle {
  background-color: #FF9800;
  height: 40px;
  border: none;
}

header .navbar-default .navbar-toggle:hover {
  background-color: #FFC700;
}

header .navbar-default .navbar-toggle:focus {
  background-color: #FF9800;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

header .navbar-default .navbar-collapse.in {
  border: none;
}

header .navbar-collapse.collapsing {
  border: none;
}

/*navbar toggle*/
/*NAV INBODY*/
header .inbody {
  background: #000;
  padding: 5px;
  box-shadow: 2px 1px 2px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  /*header .inbody h1*/
}

header .inbody h1 {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
