/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300|Roboto+Slab:400,700|Slabo+13px);
$headFont: 'Roboto Slab', serif;
$bodyFont: 'Lato', sans-serif;
$titleFont: 'Slabo 13px', serif;
$light: 300;
$normal: 400;
$bold: 700;
/* COLOR PALETTE */
$black: #000;
$white: #fff;
$darkBlue: #263248;
$lightBlue: #7387FF;
$orange: #FF9800;
$darkOrange: #AD6700;
$lightOrange: #FFC700;
$fuschia: #E81AA3;
$green: #39E897;
$yellow: #FCFF4F;
$aqua: #4FD4FF;
$purple: #824AE8;
$red: #FF1D23;