@import "variables";
@import "mixins";
@import "tagline";
@import "parallax";
@import "modules";


body {
 font-family: $bodyFont;
 color: $white;
 font-weight: $light;
 background:$darkBlue;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $bodyFont;
  font-size: 3em;
  color: adjust-color($lightBlue, $lightness: 10%);
}
p {
	font-size:1.5em;
	margin-bottom: 20px;
}
@import "navbar";

